<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="ConnectionStringMysql" connectionString="server=192.168.0.106;User Id=root;password=123456;Persist Security Info=True;database=huawei;CharSet=utf8;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="serverip" value="127.0.0.1"/>
    <add key="serverport" value="6666"/>
    <add key="machineid" value="TestMachine1"/>
    <add key="rfidcom" value="Com8"/>
    <add key="qrcom" value="Com8"/>
    <add key="webaddress" value="http://www.baidu.com"/>
  </appSettings>
</configuration>